body {
	margin: 0px;
}

p {
	font-size: 18px;
	margin-inline-start: 200px;
	margin-inline-end: 200px;
	font-family: 'Nunito', sans-serif;
}

h1 {
	font-size: 90px;
	text-align: center;
	font-family: 'Merriweather', serif;
}

.welcome-heading-homepage {
	font-size: 100px;
	font-family: 'Sacramento', cursive;
	position: absolute;
	left: 100px;
	top: 250px;
	color: white;
}

.subheading-homepage {
	font-family: 50px;
	position: absolute;
	left: 100px;
	top: 400px;
	font-family: 'Nunito', sans-serif;
	color: white;
}

.first-box {
	height: 800px;
	background-color: #1D4366;
}

.btn-welcome {
	width: 400px;
	height: 50px;
	background-color: #A8E0FF;
	text-decoration: none;
	padding: 50px;
	border-radius: 10px;
}

.mission-heading-homepage {
	font-size: 80px;
	text-align: center;
	font-family: 'Merriweather', serif;
}

.mission-homepage {
	
}



/*Login Page CSS*/

.form-login {
	margin-top: 200px;
}

.form-login {
	text-align: center;
}

.username-login {
	width: 300px;
}

.email-login {
	width: 300px;
}